{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}سامانه کتابخانه{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% include 'includes/header.html' %}

  <div id="wrapper" class="layout">
    <aside id="sidebar" class="sidebar" role="navigation" aria-label="منوی اصلی">
      {% include 'includes/sidebar.html' %}
    </aside>
    <div class="main-content">
    <main class="content" role="main">
      <div class="container">
        <h1 class="page-title">
          {% block page_title %}{% endblock %}
        </h1>
        <section class="page-content">
          {% block content %}{% endblock %}
        </section>
      </div>
    </main>
    </div>
  </div>
  <footer>
      <p>سامانه مدیریت کتابخانه - دانشگاه ملی مهارت پسران شهرضا</p>
  </footer>
  <script src="{% static 'js/main.js' %}"></script>
  {% block extra_scripts %}{% endblock %}
</body>
</html>
