{% extends 'base.html' %}
{% block title %}{{ book.title }}{% endblock %}
{% block nav_books %}active{% endblock %}

{% block content %}
<div class="page-header">
    <h4 class="page-title">جزئیات کتاب</h4>
    <br>
    <div class="d-flex gap-2">
        {% if user.role == 'admin' or user.role == 'librarian' %}
        <a href="{% url 'books:book_edit' book.pk %}" class="btn btn-warning">
            <i class="bi bi-pencil me-1"></i> ویرایش
        </a>
        <a href="{% url 'books:book_delete' book.pk %}" class="btn btn-danger">
            <i class="bi bi-trash me-1"></i> حذف
        </a>
        {% endif %}
        <a href="{% url 'books:book_list' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-right me-1"></i> بازگشت
        </a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-6">
                <p class="mb-2"><strong>عنوان:</strong> {{ book.title }}</p>
                <p class="mb-2"><strong>نویسنده:</strong> {{ book.author }}</p>
                <p class="mb-2"><strong>ISBN:</strong> {{ book.isbn }}</p>
                <p class="mb-2"><strong>موضوع:</strong> {{ book.category }}</p>
            </div>
            <div class="col-md-6">
                <p class="mb-2"><strong>ناشر:</strong> {{ book.publisher|default:"—" }}</p>
                <p class="mb-2"><strong>سال انتشار:</strong> {{ book.publish_year|default:"—" }}</p>
                <p class="mb-2"><strong>تعداد کل نسخه‌ها:</strong> {{ book.total_copies }}</p>
                <p class="mb-2"><strong>نسخه‌های موجود:</strong> {{ book.available_copies }}</p>
                <p class="mb-2"><strong>درباره کتاب:<br></strong> {{ book.description }}</p>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        {% if user.role == 'admin' or user.role == 'librarian' %}
        <br>
        <span><i class="bi bi-layers me-2"></i> نسخه‌های فیزیکی</span>
        <br>
        <br>

        <a href="{% url 'books:copy_create' book.pk %}" class="btn btn-primary">
            <i class="bi bi-plus-circle me-1"></i> افزودن نسخه
        </a>
        {% endif %}
    </div>
    {% if user.role == 'admin' or user.role == 'librarian' %}
    <div class="card-body">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>کد نسخه</th>
                    <th>وضعیت</th>
                    {% if user.role == 'admin' or user.role == 'librarian' %}
                    <th>عملیات</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for copy in copies %}
                <tr>
                    <td>{{ copy.copy_code }}</td>
                    <td>
                        {% if copy.status == 'available' %}
                            <span class="badge bg-success">موجود</span>
                        {% elif copy.status == 'borrowed' %}
                            <span class="badge bg-warning text-dark">امانت داده شده</span>
                        {% else %}
                            <span class="badge bg-danger">آسیب‌دیده</span>
                        {% endif %}
                    </td>
                    {% if user.role == 'admin' or user.role == 'librarian' %}
                    <td>
                        <a href="{% url 'books:copy_edit' pk=copy.pk %}"
                        class="btn btn-outline btn-outline-primary">ویرایش</a>
                        <a href="{% url 'books:copy_delete' pk=copy.pk %}"
                        class="btn btn-outline btn-outline-red">حذف</a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center text-muted py-4">هیچ نسخه‌ای ثبت نشده.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
