{% extends 'base.html' %}
{% block title %}
  {% if form.instance.pk %}ویرایش نسخه{% else %}نسخه جدید{% endif %}
  | {{ book.title }}
{% endblock %}
{% block page_title %}
  {% if form.instance.pk %}ویرایش نسخه{% else %}افزودن نسخه جدید{% endif %}
{% endblock %}
{% block content %}
  <div class="mb-3">
    <a href="{% url 'books:copy_list' book_pk=book.pk %}" class="btn btn-outline">بازگشت</a>
  </div>
  <form method="post" novalidate>
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <div class="alert alert-danger">{{ field.errors|striptags }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">
      {% if form.instance.pk %}بروزرسانی{% else %}افزودن{% endif %}
    </button>
    <a href="{% url 'books:book_detail' book.pk %}" class="btn btn-outline-red">انصراف</a>
  </form>
{% endblock %}
